helm/
k3d/
nvim/.netrwhist
Android Open Source Project/
autostart/
bleachbit/
BraveSoftware/
chromium/
Code/
configstore/
dconf/
enchant/
eog/
evolution/
expressvpn/
fontconfig/
fontforge/
font-manager/
gedit/
GitKraken/
gnome*/
gnome*
goa-1.0/
google-chrome/
gtk-*/
ibus/
inkscape/
kdenlive-appimagerc
Keeper Password Manager/
matplotlib/
menus/
mimeapps.list
nautilus/
neofetch/
pavucontrol.ini
procps/
pulse/
QtProject.conf
ranger/
Slack/
StarUML/
texstudio/
update-notifier/
user*
VirtualBox/
broot/
coc/
